.tabsContainer{
    width: calc(100% + 32px);
    transform: translateX(-16px);
    overflow: hidden;
}


.tabsWrapper{
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-bottom: 32px;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    // width: calc(100% + 32px);
    // transform: translateX(-16px);
}

.tabsTitle{
    flex-shrink: 0;
    width: fit-content;
    margin: 0 16px;
}

.tabsContent{
    // display: none;
}