.wrapper {
  display: flex;
  justify-content: space-between;
}

.test {
  position: relative;
}

.bg {
  width: 100px;
  height: 20px;
  border-radius: 4px;
  background-color: red;
}

.text {
  position: absolute;
  top: -10px;
  font-size: 22px;
  left: 2px;
}
